body{
    background-color: #FFF5E1;
    color: #444444;
}
/* LOGIN&OUT */
#navbarNav{
    display: flex;
    justify-content: space-between;
}
.row{
    background-color: #FFFFD1;
    padding: 15px;
    border-radius: 10px;
}
.btnlog{
    background-color: rgb(248, 255, 153);
}
/* INDEX */
.slide, .type__list{
    margin-top: 50px;
}
h3{
    text-align: center;
}
.aboutus, .contact, .card-react{
    padding: 0px 20px;
}
.carousel-caption-top {
    width: 100%;
    display: flex;
    justify-content: center;
}
.name{
    color: rgb(255, 255, 255);
    font-family: "Calistoga", serif;
    font-size: 30px;
    background-color: transparent; /*màu giống cha*/
    backdrop-filter: blur(10px); /*làm mờ*/
    width: fit-content; /*dài tới chữ*/
    padding: 6px;
    border-radius: 10px;
}


.slideItem{
    height: 650px;
    object-fit: cover;
}
/* REACT */
.card-items{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
}
.card-item{
    width: calc(25% - 15px);
    background-color: #ffedaa;
    color: black;
    display: flex;
    gap: 15px;
    box-shadow: 12px 2px 11px 0px grey; /*đổ bóng*/
    padding: 12px;
    border-radius: 12px;
}
.card-item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}
.card-item__content ion-icon{
    color: orange;
}
.card-item__content{
    width: 80%;
    overflow: hidden;
}

/* CARD  */
.list__items{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    
}
.card{
    box-shadow: 6px 11px 11px 0px grey; /*đổ bóng*/
    background-color: #ffedaa;
}
a{
    color: rgb(0, 0, 0);
}
.card__img{
    width: 100%;
    height: 257px;
    overflow: hidden;
}
.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s linear;
}
.card__img img:hover {
    scale: 1.1; 
}

.card-text, .card-title {
    display: -webkit-box;   /*Thành dạng hộp*/
    -webkit-box-orient: vertical; /*hộp dọc*/
    -webkit-line-clamp: 3;  /*giới hạn chữ đến dòng thứ 3*/
    text-overflow: ellipsis; /*hiển thị ...*/
    overflow: hidden; /*ẩn các chữ dòng sau*/
}

.card-img-top{
    width: 100px;
    height: 150px;
}

.card-title{
    height: 50px;
 }
.card-2t{
    height: 150px;
}
.card-react{
    display: flex;
    gap: 15px
}

.btn{
    justify-content:center;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* FOOTER  */
footer{
    background-color: #444444;
    padding: 20px 5px;
    color: white;
    padding: 10px;
}
.footer1{
    display:flex;
    justify-content: space-between;
    gap: 12px;
    
}
.footer1 iframe{
    border-radius: 10px;
}
footer img{
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

/* CONTACT */
.contact{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.acontact{
    color: #B5EAD7;
}

/* TYPE */
.type__items{
    display: flex;
     flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/* DETAIL */
.page{
    padding: 0px 15px;
}
.detail-img-top{
    width: 250px;
    height: 250px;
}
.detail__img__divtira{
    display: flex;
    margin-top: 80px;
    gap: 15px;
}

.detail-content{
    margin-top: 15px;
}

/* FORM */
.form_comment{
    width: 100%;
    resize: none;
    border-radius: 10px;
    border: none;
    padding: .375rem .75rem;
}

/* COMMENT */
.comments{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
}
.comment{
    width: calc(25% - 15px);
    background-color: #ffedaa;
    display: flex;
    gap: 15px;
    box-shadow: 12px 2px 11px 0px grey;
    padding: 12px;
    border-radius: 12px;
}
.comment img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}
.comment__content ion-icon{
    color: orange;
}
.comment__content{
    width: 80%;
    overflow: hidden;
}
.comment p {
    overflow-wrap: break-word; /*cho phép xuống dòng*/
}

a{
    text-decoration: none;
}

img{
       object-fit: cover;
}

.detail-content .btn,
.rate .btn{
    margin-left: 50%;
    transform: translateX(-50%);
}